<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Empleado</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-4">
        <h1>Registrar Nuevo Empleado</h1>
        <form method="post" th:action="@{/guardar}">

            <div class="form-group">
                <label for="apellidos">Apellidos:</label>
                <input type="text" class="form-control" id="apellidos" name="apellidos" required>
                <div class="invalid-feedback">
                    Ingresa los apellidos del empleado.
                </div>
            </div>
            <div class="form-group">
                <label for="nombres">Nombres:</label>
                <input type="text" class="form-control" id="nombres" name="nombres" required>
                <div class="invalid-feedback">
                    Ingresa los nombres del empleado.
                </div>
            </div>
            <div class="form-group">
                <label for="edad">Edad:</label>
                <input type="number" class="form-control" id="edad" name="edad" required>
                <div class="invalid-feedback">
                    Ingresa una edad válida.
                </div>
            </div>
            <div class="form-group">
                <label for="sexo">Sexo:</label>
                <input type="text" class="form-control" id="sexo" name="sexo" required pattern="[MFmf]">
                <div class="invalid-feedback">
                    Ingresa 'M' o 'F' para el sexo (masculino o femenino).
                </div>
            </div>
            <div class="form-group">
                <label for="salario">Salario:</label>
                <input type="number" class="form-control" id="salario" name="salario" required>
                <div class="invalid-feedback">
                    Ingresa un salario válido.
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-oaBsDxZf5uV3KUKx2THfI3vEG2En3Lh3F5Bsb5l/mDtcKXIz6CzUf5G5vH9miY6j" crossorigin="anonymous"></script>
</body>
</html>